@font-face {
    font-family: 'quicksandregular';
    src: url('fonts/quicksand-regular-webfont.eot');
    src: url('fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('fonts/quicksand-regular-webfont.woff') format('woff'),
         url('fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'league_spartanregular';
    src: url('fonts/leaguespartan-bold-webfont.eot');
    src: url('fonts/leaguespartan-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
         url('fonts/leaguespartan-bold-webfont.woff') format('woff'),
         url('fonts/leaguespartan-bold-webfont.ttf') format('truetype'),
         url('fonts/leaguespartan-bold-webfont.svg#league_spartanregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansitalic';
    src: url('fonts/notosans-italic-webfont.eot');
    src: url('fonts/notosans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notosans-italic-webfont.woff2') format('woff2'),
         url('fonts/notosans-italic-webfont.woff') format('woff'),
         url('fonts/notosans-italic-webfont.ttf') format('truetype'),
         url('fonts/notosans-italic-webfont.svg#noto_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'noto_sansregular';
    src: url('fonts/notosans-regular-webfont.eot');
    src: url('fonts/notosans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/notosans-regular-webfont.woff2') format('woff2'),
         url('fonts/notosans-regular-webfont.woff') format('woff'),
         url('fonts/notosans-regular-webfont.ttf') format('truetype'),
         url('fonts/notosans-regular-webfont.svg#noto_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'quicksanditalic';
    src: url('fonts/quicksand-italic-webfont.eot');
    src: url('fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('fonts/quicksand-italic-webfont.woff') format('woff'),
         url('fonts/quicksand-italic-webfont.ttf') format('truetype'),
         url('fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;
}