.sticky {
	display: block;
}

// .hentry {
// 	margin: 0 0 1.5em;
// }

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Typography */
.entry-title {
    margin: 0 0 2rem;
    font-weight: 900;
    @include font-size(4);
    line-height: 1.3em;
    color: #000;
}

.entry-content a { 
    text-decoration: underline; 
}
                    
.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6 { margin-bottom: .4em; }

.entry-content h1 {
    @include font-size(2);
}

.entry-content h2 {
    @include font-size(1.875);
}

.entry-content h3 {
    @include font-size(1.75);
}

.entry-content h4 {
    @include font-size(1.625);
}

.entry-content h5 {
    @include font-size(1.625);
}

.entry-content h6 {
    @include font-size(1.375);
}

.entry-content p,
.entry-content ul,
.entry-content ol {
    @include font-size(1.25);
    line-height: 1.6em;
}

.entry-content blockquote p {
    @include font-size(1.75);
    line-height: 1.5em;
}

/* Smaller fonts for smaller screens */
@media screen and (max-width: 680px) {
    .entry-title {
        @include font-size(2);
        line-height: 1.3em;
    }
    .entry-content h1 {
        @include font-size(1.75);
    }

    .entry-content h2 {
        @include font-size(1.625);
    }

    .entry-content h3 {
        @include font-size(1.5);
    }

    .entry-content h4 {
        @include font-size(1.375);
    }

    .entry-content h5 {
        @include font-size(1.25);
    }

    .entry-content h6 {
        @include font-size(1.125);
    }

    .entry-content p,
    .entry-content ul,
    .entry-content ol  {
        @include font-size(1.125);
    }
    
    .entry-content blockquote p {
        @include font-size(1.375);
        line-height: 1.5em;
    }
}

/* Meta */
.category-list {
    margin: 1.3em 0 1em;
    @include font-size(1);
}

.category-list a {
    color: #333;
}

.category-list a:hover {
    color: #000;
}

.entry-meta {
    margin-bottom: 2rem;
    padding: 0;
    @include font-size(.875)
}

.entry-meta a { font-weight: 600; }

.entry-footer {
    margin-top: 3rem;
    margin-bottom: 5rem;
    @include font-size(1);
    line-height: 2em;
}

.entry-footer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.entry-footer li {
    display: inline-block;
    margin-right: 4rem;
}

.entry-footer a {
    margin-left: .5rem;
}

@media screen and (min-width: 1480px){
    .single .entry-meta {
        width: 120px;
        margin-left: -160px;
        margin-bottom: -90px;
        float: left;
        text-align: right;
    }
    
    .single .byline,
    .single .posted-on {
        display: block;
        margin-bottom: 1em;
    }
}
.posted-on:before {
    content: ' on ';
}
.posted-on:after {
    content: '.';
}

@media screen and (min-width: 1320px) {
    .single .posted-on:before,
    .single .posted-on:after {
        content: '';
    }
}

/* Blockquotes */
blockquote {
    padding: 1em 1.5em 0;
    margin-bottom: 1em;
    font-style: italic;
    border-top: 1px solid $navgrey;
    border-bottom: 1px solid $navgrey;
}

blockquote em { 
    font-style: normal; 
}

blockquote cite {
    display: block;
    margin-top: 1em;
    margin-left: 40%;
    @include font-size(1.125);
    font-style: normal;
    line-height: 1.5em;
    text-align: right;
}

blockquote.alignleft {
    width: 50%;
    float: left;
    padding: 1em 0 0;
    margin-right: 2em;
}

blockquote.alignright {
    width: 50%;
    float: right;
    padding: 1em 0 0;
    margin-left: 2em;
}

/* Blockquotes responsive */
/* Optional rules that set blockquotes to full width on smaller screens */
@media screen and (max-width: 780px) {
    blockquote.alignleft,
    blockquote.alignright { width: 40%; }
}

@media screen and (max-width:600px) {
    blockquote.alignleft,
    blockquote.alignright {
        width: 100%;
        padding: 1em 1.5em 0;   
    }
}

/* Alignment responsive */
@media screen and (min-width: 1480px) {
    .alignleft {
        margin-left: -160px; 
    }
    .alignright { 
        margin-right: -80px; 
    }
}

/* Featured Images */

.single-post-thumbnail { 
    background: #b2b2b2; 
}

.single-post-thumbnail img {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1820px) {
    .image-shifter {
        width: 1060px;
        float: none;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1540px) and (max-width: 1820px) {
    .image-shifter { margin-left: 380px;}
}

@media screen and (min-width: 1440px) and (max-width: 1819px) {
    .image-shifter {
        width: 1060px; 
        float: right;
    }
}


.continue-reading {
    margin: 0 4rem;
    font-weight: 900;
    @include font-size(1.125);
    a {
		color: #000;
    }
}

.continue-reading i { margin-left: .5em; }

.small-index-thumbnail { 
    margin-top: -1em;
    margin-bottom: 1em;
}

.paging-navigation ul {
    margin: 0;
}

.paging-navigation li { display: inline; }

a.page-numbers,
span.page-numbers {
     padding: .3em .7em;
     color: $logogrey;
}

a:hover.page-numbers {
    color: #000;
}

.paging-navigation .current {
    font-weight: bold;
    color: #000;
}

.taxonomy-description {
    padding-top: 2rem;
    margin: 2rem 0;
    font-style: italic;
    border-top: 1px solid $navgrey;
    border-bottom: 1px solid $navgrey;
}

.page .entry-title {
    margin-top: .7em;
}

.entry-title {
	a {
    	color: #000;
    }
}